<body style="background-color:MintCream">
<h1 style="border:1px solid Green">Add a Student Record</h1>
<form action="#" method="post">
   <div class="form-group">
       <label for="name">First Name:</label>
       <input type="text" maxlength="100" name="name" placeholder="First Name">

       <label for="last_name">Last Name:</label>
       <input maxlength="100" name="last_name" placeholder="Last Name">

	   <label for="dob">Date of Birth:</label>
       <input maxlength="100" name="dob" placeholder="Date of Birth">

       <label for="amount_due">Amount Due:</label>
       <input maxlength="100" name="amount_due" placeholder="Amount Due">

       <button type="submit">Create</button>
   </div>
</form>
</body>